<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">

    <title>{% block title %}Fake vs Real Classifier{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>
<div class="{% block container_class %}container-page{% endblock %}">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p>© 2025 Image Authenticity Classifier | Sistem Klasifikasi Keaslian Gambar.  
      Hak Cipta Dilindungi Undang-Undang.</p>
    </footer>
  </div>
</body>


</html>
